html {
  scroll-behavior: smooth;
  height: 100%;
  overflow-x: hidden; /* Evita a barra de rolagem horizontal */
}

/* navegação*/
nav {
  background-color: #444;
  padding: 1em;
  text-align: center;
  width: 100%;
  transition: all 0.3s ease-in-out; /* Transição suave */
  box-sizing: border-box; /* Inclui padding e border na largura */
}



nav.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  height: auto; /* Ou ajuste conforme necessário */
}

/* Estilo padrão para desktop */
.nav-title-mobile,
.nav-title2-mobile {
  display: none; /* Oculta o texto reduzido no desktop */
}


body.fixed-nav-padding {
  padding-top: 6em; /* Ajuste conforme necessário para altura da navegação */
}

/*body*/

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  overflow-x: hidden; /* Evita a barra de rolagem horizontal */
}

header {
  background: url('Fundo topo 8.webp') no-repeat center center;
  background-size: cover;
  color: #000000;
  text-align: center;
  height: 90vh; /* Ocupa 100% da altura da tela */
  width: 100%; /* Ocupa 100% da largura da tela */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; /* Define o contexto de posicionamento dos elementos filhos */
  box-sizing: border-box; /* Inclui padding e border na largura */
}

header .header-content {
  position: absolute;
  top: 44%; /* Ajuste este valor para a posição vertical desejada */
  left: 50%; /* Ajuste este valor para a posição horizontal desejada */
  transform: translate(-50%, -70%); /* Centraliza o texto */
  text-align: center;
}

header h1 {
  font-size: 2.7em; /* Ajuste o tamanho da fonte do título */
  margin: 0;
}

header p {
  font-size: 1.5em; /* Ajuste o tamanho da fonte do parágrafo */
  margin: 0;
}



/*
Dimensionamento para dispositivos moveis
 */


@media (max-width: 768px) {

  body.fixed-nav-padding {
    padding-top: 8em; /* Ajuste conforme necessário para altura da navegação */
  }


  /*
dimensionamento da imagem do topo para dispositivos moveis
 */
  header {

    height: 55vh; /* Reduz a altura do header em dispositivos móveis */
    padding: 0 1em; /* Adiciona um padding lateral */
  }

  header .header-content {
    top: 50%;
    transform: translate(-25%, -40%); /* Centraliza o texto */
  }

  header h1 {
    font-size: 1.5em; /* Reduz o tamanho da fonte do título */
    color: black;
  }

  header p {
    font-size: 0.8em; /* Reduz o tamanho da fonte do parágrafo */
    color: black;
  }

  .about-container {
    flex-direction: column;
    text-align: center;
  }

  .about-text {
    margin-left: 0;
    margin-top: 1em;
  }

  .about-photo img {
    width: 150px;
    height: 150px;
  }

  /*
fim do dimensionamento da imagem do topo para dispositivos moveis
 */

  /*
barra de navegação em dispositivos moveis
 */
  nav {
    padding: 0.2em 0.5em; /* Reduz o padding da barra de navegação */
    height: auto; /* Deixa a altura da barra automática, ajustando ao conteúdo */
    display: flex;
    align-items: center; /* Centraliza os itens verticalmente */
    justify-content: center; /* Centraliza os itens horizontalmente */
  }

  nav ul {
    flex-direction: row; /* Mantém os links em linha */
    justify-content: center; /* Centraliza os links horizontalmente */
    padding: 0; /* Remove o padding interno */
    margin: 0; /* Remove qualquer margem extra */
    width: 90%; /* Garante que o `ul` ocupe toda a largura disponível */
  }

  nav ul li {
    flex: 1 1 25%; /* Define a largura de cada item, aqui 20% para duas colunas */
    margin: 0.3em; /* Adiciona espaço ao redor de cada link */
    text-align: center; /* Centraliza o texto dentro de cada link */

  }

  nav ul li a {
    padding: 0.1em 0.2em; /* Reduz o padding dentro dos links */
    font-size: 0.9em; /* Reduz o tamanho da fonte dos links */
    display: block; /* Garante que os links ocupem toda a altura disponível */
    text-align: center; /* Centraliza o texto dos links */
  }

  nav .nav-logo {
    font-size: 0.8em; /* Reduz o tamanho da fonte do logo na navegação */
    display: block;
    text-align: center; /* Centraliza o texto do logo */
    padding: 0; /* Remove o padding ao redor do logo */
    margin: 0; /* Remove a margem ao redor do logo */
  }

  .nav-title {
    display: none;
  }

  .nav-title-mobile {
    display: inline-block; /* Mostra o texto reduzido */
  }

  .nav-title2 {
    display: none;
  }

  .nav-title2-mobile {
    display: inline-block; /* Mostra o texto reduzido */
  }



}

/*
fim dimensionamento para dispositivos moveis
 */

/*
dimensionamento para desktop
 */



nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center; /* Centraliza os itens da navegação */
  align-items: center; /* Alinha os itens verticalmente */
  flex-wrap: wrap; /* Permite que itens quebrem linha se necessário */
}

nav ul li {
  margin: 0 1em;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 0.5em; /* Aumenta a área clicável */
}

nav ul li a.nav-logo {
  font-family: "Dancing Script", cursive; /* Aplica a fonte*/
  font-size: 1.5em; /* Ajuste o tamanho conforme necessário */
}

section {
  padding: 2em;
  background-color: #fff;
  margin: 1em 0;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-sizing: border-box; /* Inclui padding e border na largura */
}



section::before {
  content: "";
  display: flex;
  height: 6em; /* Espaço para compensar a navegação fixa */
  margin-top: -4em; /* Compensa a altura adicionada */
  visibility: hidden; /* Garante que o espaço não seja visível */
}

footer {
  text-align: center;
  padding: 1em 0;
  background-color: #333;
  color: #fff;
  width: 100%; /* Garante que o rodapé ocupe toda a largura */
  box-sizing: border-box; /* Inclui padding e border na largura */
}

h1, h2 {
  margin: 0.5em 0;
}

p, ul {
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

.about-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 2em 0;
  flex-wrap: wrap; /* Permite que itens quebrem linha se necessário */
  box-sizing: border-box; /* Inclui padding e border na largura */
}

/* Estilo padrão para navegadores (desktop) */
.about-container {
  flex-direction: row; /* A imagem aparecerá depois do texto */
}

.about-photo img {
  border-radius: 50%;
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.about-text {
  max-width: 600px;
  margin-left: 2em;
  box-sizing: border-box; /* Inclui padding e border na largura */
}

@media (max-width: 768px) {
  .about-container {
    flex-direction: column-reverse;
    text-align: center;
  }

  .about-text {
    margin-left: 0;
    margin-top: 1em;
  }

  .about-photo img {
    width: 150px;
    height: 150px;
  }

  .experience-container {
    display: flex;
    flex-direction: column; /* Organiza os itens em uma coluna */
    align-items: center; /* Centraliza os itens horizontalmente */
    padding: 1em; /* Adiciona padding para espaçamento interno */
    box-sizing: border-box; /* Garante que padding seja incluído na largura */
    overflow-x: hidden; /* Impede que o conteúdo transborde horizontalmente */
    width: 95%; /* Garante que o contêiner ocupe toda a largura da tela */
  }

  .experience-item {
    display: flex;
    flex-direction: column; /* Alinha os elementos em coluna */
    align-items: center; /* Centraliza os itens horizontalmente */
    text-align: center; /* Centraliza o texto */
    width: 100%; /* Garante que cada item ocupe toda a largura disponível */
    box-sizing: border-box; /* Inclui padding e borda na largura */
    margin-bottom: 1em; /* Espaçamento entre os itens */
  }

  .experience-details {
    width: 95%; /* Garante que o texto ocupe toda a largura disponível */
    padding: 1em; /* Adiciona padding ao redor do texto */
    box-sizing: border-box; /* Inclui padding e borda na largura */
    overflow-wrap: break-word; /* Impede que o texto saia da tela */
  }

  .experience-videos {
    display: flex;
    flex-direction: column; /* Alinha os vídeos em uma linha */
    justify-content: flex-start; /* Alinha os vídeos à esquerda */
    flex-wrap: nowrap; /* Impede que os vídeos quebrem em várias linhas */
    overflow-x: auto; /* Adiciona rolagem horizontal se necessário */
    gap: 1em; /* Adiciona espaço entre os vídeos */
    width: 100%; /* Garante que o contêiner ocupe toda a largura */
    padding: 1em 0; /* Adiciona espaçamento ao redor do contêiner */
  }

  .iframe-container {
    width: 100%;
    max-width: 250px; /* Define um tamanho máximo para os vídeos/imagens */
    margin: 0 auto; /* Centraliza os vídeos/imagens */
  }

  /*logo e texto de BIL*/
  .heading-container {
    display: flex;
    flex-direction: column; /* Organiza os itens em coluna */
    align-items: center; /* Centraliza os itens horizontalmente */
    text-align: center; /* Centraliza o texto */
    margin-bottom: 1em; /* Adiciona espaço abaixo do heading */
  }

  .heading-container h3 {
    order: 1; /* Coloca o texto abaixo da imagem */
    margin-top: 0.1em; /* Adiciona espaço entre a imagem e o texto */
    margin-bottom: 10em; /* Remove margem inferior extra */
  }

  .heading-container img {
    order: 5; /* Mantém a imagem acima do texto */
    max-width: 300px; /* Define uma largura máxima para a imagem */
    height: auto; /* Mantém a proporção da imagem */
  }

  .heading-container h4 {
    order: 3; /* Mantém a data abaixo do título */
    margin-top: 0.5em; /* Adiciona espaço entre o título e a data */
  }

}

.education-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: space-between;
  box-sizing: border-box; /* Inclui padding e border na largura */
}

.education-item {
  background-color: #fff;
  padding: 1em;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  flex: 1 1 calc(33% - 1em); /* Permite que os itens fiquem na mesma linha com largura igual */
  box-sizing: border-box; /* Inclui padding e border na largura */
}

.additional-training-container {
  margin-top: 1em;
}

.additional-training {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: space-between;
  box-sizing: border-box; /* Inclui padding e border na largura */
}

.training-item {
  background-color: #fff;
  padding: 1em;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  flex: 1 1 calc(33% - 1em); /* Permite que os itens fiquem na mesma linha com largura igual */
  box-sizing: border-box; /* Inclui padding e border na largura */
}

/* Inicia a parte de software engineering */
.software-projects {
  display: flex;
  flex-direction: column;
  gap: 2em;
  box-sizing: border-box; /* Inclui padding e border na largura */
}

.project-row {
  display: flex;
  justify-content: space-between;
  gap: 2em;
  flex-wrap: wrap; /* Permite que itens quebrem linha se necessário */
  box-sizing: border-box; /* Inclui padding e border na largura */
}

.project-item {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 1em;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  flex: 1 1 48%; /* Permite que dois itens fiquem lado a lado */
  box-sizing: border-box; /* Inclui padding e border na largura */
}

.project-details {
  flex: 3;
  padding-right: 1em;
  box-sizing: border-box; /* Inclui padding e border na largura */
}

.project-video {
  flex: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
  box-sizing: border-box; /* Inclui padding e border na largura */
}

.project-video iframe {
  max-width: 80%;
  height: 300px;
  box-sizing: border-box; /* Inclui padding e border na largura */
}

.project-item h3 {
  margin-top: 0;
}

.project-skills {
  margin-top: 1em;
}

.skills-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  list-style-type: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box; /* Inclui padding e border na largura */
}

.skills-list li {
  background-color: #e0e0e0;
  padding: 0.5em 1em;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 0.5em;
  box-sizing: border-box; /* Inclui padding e border na largura */
}

.additional-projects {
  margin-top: 2em;
  text-align: center;
  box-sizing: border-box; /* Inclui padding e border na largura */
}

.additional-projects-container {
  display: flex;
  justify-content: center;
  gap: 1em;
  flex-wrap: wrap;
  box-sizing: border-box; /* Inclui padding e border na largura */
}

.additional-projects a {
  background-color: #007bff;
  color: white;
  padding: 0.5em 1em;
  border-radius: 8px;
  text-decoration: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  box-sizing: border-box; /* Inclui padding e border na largura */
}

.additional-projects a:hover {
  background-color: #0056b3;
}

/*Mechanical Engineering*/

.heading-container {
  display: flex;
  align-items: center; /* Alinha verticalmente o h3 e o h4 */
}

h3 {
  display: flex;
  align-items: center; /* Alinha a imagem e o texto verticalmente */
  /*margin: 0; /* Remove a margem padrão do h3 */
}

h3 img {
  vertical-align: middle;
  margin-right: 1em; /* Espaçamento entre a imagem e o texto */
  max-height: 6em;
  margin-bottom: 0.0em;
}

h4 {
  margin: 0; /* Remove a margem padrão do h4 */
  padding-bottom: 1em;
}

.company-link-container {
  padding-bottom: 1em;
}

.company-link-container a {
  display: inline-block;
  text-decoration: none; /* Remove o sublinhado do link */
  color: #007bff; /* Cor do link */
  font-weight: bold; /* Deixa o link em negrito */
}


.experience-container {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.experience-item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap; /* Permite que itens quebrem linha se necessário */
  gap: 1em;
  padding: 1.5em;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.experience-details {
  flex: 1 1 60%;
  padding-right: 2em;
}

.experience-videos {
  flex: 1 1 40%;
}

.skills-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.skills-list li {
  margin: 0.5em 0;
}

.video-library {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.video-library li {
  margin: 0.5em 0;
}

.video-library a {
  text-decoration: none;
  color: #007bff;
}

.video-library a:hover {
  text-decoration: underline;
}

/* Estilo adicional para a seção de experiência profissional */
.experience-container {
  background-color: #494646;
  padding: 2em;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 2em;
}



.experience-item {
  display: flex; /* Define como flexbox */
  flex-direction: row; /* Organiza os filhos em uma linha */
  align-items: center; /* Alinha o conteúdo ao centro verticalmente */
  justify-content: center; /* Centraliza as colunas horizontalmente */
  gap: 2em; /* Espaço entre as colunas */
  margin-bottom: 1.5em; /* Espaço inferior entre as experiências */
}

.experience-image {
  flex: 0 0 26%; /* A imagem ocupa 30% da largura */
  max-width: 26%; /* Garante que a imagem não ultrapasse 30% */
  display: flex; /* Adiciona flexbox ao contêiner da imagem */
  align-items: center; /* Centraliza a imagem verticalmente */
  justify-content: center; /* Centraliza a imagem horizontalmente */
}

.experience-image img {
  width: 100%; /* Imagem ocupa toda a largura da coluna */
  height: auto; /* Mantém a proporção da imagem */
  object-fit: cover; /* Ajusta a imagem dentro do contêiner */
}

.experience-details {
  flex: 1 1 60%;
  padding-right: 2em;
}

.experience-videos {
  flex: 1 1 40%;
}



.experience-details strong {
  font-size: 1.2em;
  color: #333;
}

.skills-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

.skills-list li {
  background-color: #e0e0e0;
  padding: 0.5em 1em;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

/*
imagem da salamandra a pellets
 */
.iframe-container iframe,
.iframe-container img {
  position: absolute;
  top: 0;
  left: 25%;
  width: 50%;
  height: 100%;
  border: 0;
}



/* Responsividade */
@media (max-width: 768px) {
  .slick-carousel {
    width: 100%;
  }

  .experience-item {
    flex-direction: column;
    margin-bottom: 1em; /* Ajuste do espaçamento entre os itens */
  }

  .experience-details {
    padding-right: 0;
    text-align: center; /* Centraliza o texto em dispositivos móveis */
  }

  .heading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 0.5em; /* Reduzido para diminuir o espaço após o texto */
  }

  .heading-container h3 {
    order: 1;
    margin-top: 0.1em;
    margin-bottom: 0.5em; /* Reduzido para diminuir o espaço após o texto */
  }

  .heading-container img {
    order: 5;
    max-width: 80%; /* Ajuste conforme necessário */
    height: auto;
    margin-bottom: 0.5em; /* Espaço reduzido */
  }

  .heading-container h4 {
    order: 3;
    margin-top: 0.5em;
    margin-bottom: 0; /* Remove qualquer margem extra */
  }

  .experience-videos {
    width: 100%; /* Garante que os vídeos ocupem 100% da largura disponível */
    padding-right: 0; /* Remove qualquer padding desnecessário */
  }

  .experience-image {
    flex: 0 0 90%; /* A imagem ocupa 30% da largura */
    max-width: 90%; /* Garante que a imagem não ultrapasse 30% */
    display: flex; /* Adiciona flexbox ao contêiner da imagem */
    align-items: center; /* Centraliza a imagem verticalmente */
    justify-content: center; /* Centraliza a imagem horizontalmente */
  }

  .experience-image img {
    width: 100%; /* Imagem ocupa toda a largura da coluna */
    height: auto; /* Mantém a proporção da imagem */
    object-fit: cover; /* Ajusta a imagem dentro do contêiner */
  }

  .iframe-container {
    padding-bottom: 56.25%; /* Mantém a proporção de 16:9 */
    height: 0;
    overflow: hidden;
  }

  .iframe-container iframe {
    width: 100%; /* Garante que o iframe ocupe toda a largura disponível */
    height: 100%;
  }
}




.experience-videos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Centraliza os vídeos */
  gap: 1em; /* Espaçamento entre os vídeos */
}

.iframe-container {
  flex: 1 1 calc(50% - 1em); /* 2 vídeos por linha */
  max-height: 300px; /* Define a altura máxima dos vídeos */
  display: flex;
  justify-content: center; /* Centraliza o vídeo dentro do contêiner */
  align-items: center;
  position: relative;
  padding-bottom: calc(600px / 1.78); /* Mantém a proporção 16:9 para 300px de altura */
  height: 0;
}

.iframe-container iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centraliza o vídeo */
  width: 80%;
  height: 80%;
  border: 0;
}

